/* Globals */
.header {
  background-color: var(--black);
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 4rem;
}

.wraper {
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  align-items: center;
  margin: auto;
}

/* Nav */
.nav_list {
  display: none;
}

.nav_list__item {
  font-size: 3.5rem;
  list-style: none;
}

.nav_list__anchor {
  color: var(--green);
  letter-spacing: 0.2rem;
}

.nav_list__anchor::after {
  content: "";
  height: 0.5rem;
  width: auto;
  background: var(--pink);
  display: block;
  transform-origin: left;
  transform: scale(0.3, 1);
  transition: transform 0.3s ease;
  border-radius: 0.5rem;
}

.nav_list__anchor:hover::after {
  transform: scale(1.1);
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100vh;
  background-color: var(--black);
  z-index: 1;
  margin-top: 0;
}

.burger {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.burger div {
  width: 3.5rem;
  height: 0.5rem;
  background: var(--green);
}

.active_burger {
  padding-top: 1rem;
  z-index: 2;
  position: fixed;
  right: 2rem;
}

.active_burger div:nth-child(1) {
  transform: rotate(130deg);
  align-self: flex-start;
}

.active_burger div:nth-child(2) {
  transform: translateY(-1rem) rotate(-130deg);
}

.active_burger div:nth-child(3) {
  display: none;
}

@media (min-width: 768px) {
  .nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    position: static;
    height: auto;
  }

  .nav_list__item {
    font-size: 2.8rem;
    margin-right: 3rem;
  }

  .burger {
    display: none;
  }
}

/* Header */
.hero {
  min-height: 80vh;
  background:radial-gradient(var(--green) 1px, transparent 1px),
      radial-gradient(var(--pink) 1px, transparent 1px),linear-gradient(
    rgb(23, 24, 16),
    rgb(67, 67, 67),
    rgb(23, 24, 16)
  ) ;
 background-position:0 0, 25px 25px, center;
  background-size: 50px 50px, 50px 50px, cover;
  padding-top:2rem;
}

.hero__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url("../public/nave.svg");
  background-repeat: no-repeat;
  background-position: center;
  }

.hero__span {
  margin-top:4rem;
  display: inline-block;
  font-size: 4.2rem;
  font-weight: bold;
  text-shadow: 0.3rem 0.3rem 0.2rem var(--black);
}

.hero__span::after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.4rem;
  background-color: var(--pink);
  box-shadow: 0.3rem 0.3rem 0.2rem var(--black);
}

.hero__title {
  font-size: 8rem;
  text-align:center;
  text-shadow: 0.1rem 0.1rem 0 var(--pink), 0.2rem 0.2rem 0 var(--pink),
    0.3rem 0.3rem 0 var(--black), 0.4rem 0.4rem 0.5rem var(--black);
}

.hero__subtitle {
  font-size: 2.3rem;
  font-weight:500;
  text-shadow: .2rem .2rem .05rem var(--black);
}

/* About */
.about {
  background-color: var(--black);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--pink);
}

.about__article {
  font-size: 2rem;
}

.about__avatar{
  height: 30rem;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.about__avatar img {
  width:100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

/*  Skills */
.skills {
  background: var(--black);
}

.skills h3 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

.skills h3::after {
  content: "";
  background: var(--pink);
  width: 8rem;
  height: 0.5rem;
  display: block;
  margin: 0 auto;
  border-radius: 0.3rem;
}

.skills__wraper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
}

.skills__frontend:first-of-type {
  border-bottom: .2rem solid var(--pink);
  margin-bottom: 1rem;
}

.skills__frontend p{
  font-size: 2.2rem;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
  word-spacing: .3rem;
}

.skills__frontend ul{
  list-style: none;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(5rem, 10rem));
  row-gap: 1.2rem;
}

.skills__frontend li:nth-child(even){
  grid-column: span 2;
  text-align: center;
}

@media (min-width: 768px){
.skills__frontend{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.2rem;
  align-items: center;
}

.skills__frontend p{
  border-right: .4rem solid var(--pink);
}

.skills__frontend ul{
  font-size: 2rem;
}
}

/* Contact setcion */
.contact{
  background-color: var(--black);
  padding-bottom: 2rem;
}

.contact__wraper{
  max-width: 120rem;
  margin: 0 auto;
  padding:1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
}

.contact__button{
  display: inline-block;
  padding:1rem;
  border: .3rem solid currentColor;
  color: var(--pink);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1rem;
  border-radius: .5rem;
  text-align: center;
  letter-spacing: .1rem;
  word-spacing: .2rem;
  transition: .2s ;
  cursor: pointer;
  animation: color 5s infinite alternate;
}

@keyframes color{
      25%{
        color: var(--green);
      }
      50% {
        color: var(--pink);
      }

      75% {
        color: var(--grey);
      }

      100% {
        color: var(--green);
      }
}

/* Projects */
.projects{
  background-color: var(--black);
}

.projects h3{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.projects__wraper{
  max-width: 120rem;
  margin:0 auto;
  padding: 1rem;
  display: grid;
}

.projects__image{
  height: 30rem;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.projects__image img {
  width:100%;
  height: 100%;
  object-fit: contain;
}

.projects__content{
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding:.8rem;
  border-top:none;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--black);
}

.projects__content h4{
  font-size: 2.4rem;
}

.projects__content p{
  font-size: 1.6rem;
  letter-spacing: .1rem;
  word-spacing: .2rem;
}

.projects__buttons{
  display: flex;
  flex-wrap:wrap;
  gap:1rem;
}

.projects__button{
  background-color: var(--green);
  font-weight: bold;
  font-size:1.6rem;
  padding:.5rem 1rem;
  border:0;
  outline: none;
}

.projects__button:nth-child(even){
  border-radius:0 1rem;
}

.projects__button:nth-child(odd){
  border-radius:1rem 0;
}

.projects__icons > * {
  font-size: 2rem;
  cursor:pointer;
  display: inline-block;
  color:var(--green);
  margin-bottom: .5rem;
}

.projects__icons > :first-child {
  margin-right: 1rem;
}

.projects__icons > *:hover{
  opacity: .3;
}

@media screen and (min-width: 992px) {
  .projects__wraper {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .projects__image {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    height: 30rem;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }
  .projects__content {
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
    height: 27rem;
    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
    border: 1px solid var(--green);
  }
  .projects__wraper:nth-of-type(even)  .projects__image{
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .projects__wraper:nth-of-type(even) .projects__content {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

@media screen and (min-width: 1100px) {
  .projects__image{
    height: 35rem;
    width: 70rem;
  }

  .projects__content{
    height: 32rem;
    width: 60rem;
  }

  .projects__content p{
    font-size: 1.8rem;
  }
}

/* Footer */
.footer {
  background-color: var(--black);
  color: var(--green);
  padding: 1rem;
  text-align-last: center;
  font-size: 2rem;
}

.footer a {
  color: var(--green);
  text-decoration: underline;
}
